# API keys — never commit these
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ChromaDB local storage
chroma_db/
chroma/

# macOS
.DS_Store

# user specific
.history/
node_modules/
.vscode/
package-lock.json
package.json
TODO
generate-commit.js
.husky/
commitlint.config.js
.ai-commit-rules.txt
